flows.json
[
    {
        "id": "983aca1b753bdb66",
        "type": "tab",
        "label": "Interface Lixeira Inteligente",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0fa212a3a883af46",
        "type": "inject",
        "z": "983aca1b753bdb66",
        "name": "Simular Volume Aleatório",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "e8d2f545a4764c8b"
            ]
        ]
    },
    {
        "id": "e8d2f545a4764c8b",
        "type": "function",
        "z": "983aca1b753bdb66",
        "name": "Gerar Volume 0-100",
        "func": "msg.payload = Math.round(Math.random() * 100);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "d9ea9bb597a0d6b9",
                "b9b957078a4fa511",
                "9fae72086c47c7a2"
            ]
        ]
    },
    {
        "id": "d9ea9bb597a0d6b9",
        "type": "ui_gauge",
        "z": "983aca1b753bdb66",
        "name": "Volume da Lixeira",
        "group": "abf82d7d.3c0a7",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "donut",
        "title": "Volume (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 50,
        "seg2": 80,
        "diff": false,
        "className": "",
        "x": 1030,
        "y": 60,
        "wires": []
    },
    {
        "id": "b9b957078a4fa511",
        "type": "function",
        "z": "983aca1b753bdb66",
        "name": "Verificar Status",
        "func": "if (msg.payload >= 80) {\n    msg.status = \"Precisa Esvaziar!\";\n    msg.color = \"red\";\n} else {\n    msg.status = \"OK\";\n    msg.color = \"green\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 300,
        "wires": [
            [
                "f7b222af7d3fa350"
            ]
        ]
    },
    {
        "id": "f7b222af7d3fa350",
        "type": "ui_text",
        "z": "983aca1b753bdb66",
        "name": "Status da Lixeira",
        "group": "abf82d7d.3c0a7",
        "order": 2,
        "width": "6",
        "height": "2",
        "label": "Status",
        "format": "<font color={{msg.color}}><b>{{msg.status}}</b></font>",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1070,
        "y": 360,
        "wires": []
    },
    {
        "id": "9fae72086c47c7a2",
        "type": "ui_chart",
        "z": "983aca1b753bdb66",
        "name": "Histórico de Volume",
        "group": "abf82d7d.3c0a7",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "Volume ao Longo do Tempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "abf82d7d.3c0a7",
        "type": "ui_group",
        "name": "Lixeira Inteligente",
        "tab": "4a9bb663.1762d8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4a9bb663.1762d8",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]